@media screen and (max-width: 1028px) {
    .f-content-wrap, .f-reservation, .f-sns {
        padding-left: 40px;
    }
    .salon-info-wrap ul li {
        font-size: 14px;
    }
    .f-phone-text {
        font-size: 14px;
    }
}
@media screen and (max-width: 960px) {
    .container {
        margin-left: 6%;
        margin-right: 6%;
    }
    .stylist-item-wrap {
        display: block;
    }
    .stylist-item {
        padding: 60px 0 0 0;
        width: 100%;
        margin: 0 auto;
    }
    .view {
        height: 350px;
    }
    .info-wrap p {
        font-size: 17px;
    }
 }
 @media screen and (max-width: 780px) {
    .title-style {
        font-size: 35px;
    }
    .header-title {
        padding-left: 25px;
    }
    .top-wrapper {
        background-position: -100px 0;
        transition: 0.4s;
    }
    .about-text {
        width: 100%;
    }
    .hl-item-wrap {
        display: block;
    }
    .hl-item-wrap iframe {
        width: 100%;
    }
    .hl-item {
        padding: 50px 0 0 0;
    }
    .hl-item-title {
        font-size: 25px;
    }
    .fas {
        display: block;
    }
    .header-list, .h-reservation {
        display: none;
    }
    .menu-wrap {
        display: block;
    }
    .menu-item {
        width: 100%;
    }
    .menu-item:nth-child(even) {
        margin-left: 0;
    }
    .reservation-wrap {
        display: block;
    }
    .info-wrap {
        padding-top: 60px;
    }
    .info-wrap p:nth-child(1) {
        padding-bottom: 10px;
    }
    .reservation-btn {
        margin-top: 10px;
    }
    .footer-container {
        display: block;
        margin-left: 8%;
        margin-right: 8%;
    }
    .f-content-wrap, .f-reservation, .f-sns {
        padding: 60px 0 0 0;
    }
    .footer-title {
        font-size: 20px;
    }
 }
 
 @media screen and (max-width: 500px) {
    .top-wrapper {
        background-position: -150px 0;
        transition: 0.4s;
    }
    .about-text {
        font-size: 15px;
    }
    .title-style {
        font-size: 30px;
    }
    .stylist-img {
        width: 200px;
        height: 200px;
    }
    .item-content {
        font-size: 10px;
    }
    .reservation {
        padding-bottom: 50px;
    }
    .info-wrap p {
        font-size: 13px;
    }
    .salon-info-wrap ul li {
        font-size: 13px;
    }
 }